:root {
    --primary-color: #ffdbc1
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {

    scroll-behavior: smooth;
}
/* botões */
.botao {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 3;
    transform: rotate(-90deg);
    background-color: var(--primary-color);
    border-radius: 50%;
}
.botao2 {
    background-color: var(--primary-color);
    width: 2rem;
    height: 2rem;
    bottom: 1rem;
    right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    z-index: 3;
    position: absolute;
}

/* fim da área de botões */
body {
    font-family: 'open sans', sans-serif;
    color: var(--primary-color);
    position: relative;
    overflow: auto;
}
.div-main::after {
    content: '';
    left: 0;
    top: 50%;
    height: 0;
    width: 0;
    bottom: 0;
    display: block;
    background: var(--primary-color);
    transition: all 800ms ease-in-out;
    z-index: -1;
    position: absolute;
}
.div-main:hover::after {
    content: '';
    left: 0;
    height: 80%;
    top: 0;
    width: 0.01rem;
    bottom: 0;
    display: block;
    background: var(--primary-color);
    transition: all 500ms ease-in-out;
    z-index: 20;
    position: absolute;
}
.grid-img-righ::after {
    content: '';
    right: 0;
    margin-top: 8rem;
    top: 50%;
    height: 0;
    width: 0;
    bottom: 0;
    display: block;
    background: var(--primary-color);
    transition: all 800ms ease-in-out;
    z-index: -1;
    position: absolute;
}
.grid-img-righ:hover::after  {
    content: '';
    right: 0;
    height: 80%;
    top: 0;
    width: 0.01rem;
    bottom: 0;
    display: block;
    background: var(--primary-color);
    transition: all 500ms ease-in-out;
    z-index: 20;
    position: absolute;
}
.grid-img-left::after {
    content: '';
    left: 0;
    top: 50%;
    margin-top: 8rem;
    height: 0;
    width: 0;
    bottom: 0;
    display: block;
    background: var(--primary-color);
    transition: all 800ms ease-in-out;
    z-index: -1;
    position: absolute;
}
.grid-img-left:hover::after {
    content: '';
    left: 0;
    height: 80%;
    top: 0;
    width: 0.01rem;
    bottom: 0;
    display: block;
    background: var(--primary-color);
    transition: all 500ms ease-in-out;
    z-index: 20;
    position: absolute;
}

/* ceomço heading */
.heading {
    display: flex;
    width: 100%;
    height: 2rem;
    position: fixed;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.8) 100%) ;
}
.div-heading {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 75rem;
    height: 100%;
    margin: auto;
    align-items: flex-start;
    z-index: 2;
}
.a-heading {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.8rem;
    margin-top: 0.625rem;
    padding: 0.1875rem;
    border-radius:0.4375rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.6) 100%);
}
.nav-top {
    width: 100%;
    justify-content: center;
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-top ul {
    display: flex;
    list-style: none;
}
.nav-top ul li a {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.6) 100%);
    border-radius:0.4375rem;
    padding: 0.1875rem 0.4375rem;
    display: block;
    position: relative;
}
.nav-top ul li a::after {
    content: '';
    position: absolute;
    bottom:0.125rem;
    left: 2.5rem;
    width: 0%;
    height: 0.055rem;
    background-color: var(--primary-color);
    transition: all 300ms ease-in-out;
 }
 .nav-top ul li a:hover::after {
    content: '';
    position: absolute;
    bottom:0.125rem;
    left: 0.375rem;
    width: 87%;
    height: 0.055rem;
    background-color: var(--primary-color);
    z-index: 20 ;
 }
.img {
    height: 90%;
    padding:0.0625rem;
    border-radius:0.4375rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.6) 100%);
}
.div-img {
    display: flex;
    align-items: center;
    width: 100%;
    height:100%;
    margin: 0 00.3125rem 0;
}
.instagram {
    display: flex;
    height: 100%;
    align-items: center;
}
.instagram a {
    display: flex;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    background-color:rgb(255, 219, 193);
    padding: 0.1875rem;
    border-radius:0.4375rem;
    transition: all 55ms ease-in-out;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.6) 100%);
}
.instagram a:hover {
    border-radius: 1.25rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.1) 0);
}
/* aqui acaba o heading */

/*  começo do main */
.main {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/pão.jpeg);
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    justify-content: center;
    position: relative;
}
.sombra {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color:rgba(0, 0, 0,.2);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
}
.div-main {
    width: 75rem;
    z-index: 10;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 25vh; 
   text-shadow: 0.1875rem 0.1875rem black;
   height: 100%;
}
.h1-main {
    text-align: center;
    font-size: 4rem;
    margin: 0.625rem;
}
.main h2 {
    font-size: 2.6rem;
    margin: 1.25rem;
    text-align: center;
}
.main p {
    font-size: 1.8rem;
    text-align: center;
}
.main ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center; 
}
.menu {
    display: flex;
   width: auto;
   height: 4vh;
   margin-top: 0.625rem;
   border-radius: 0.625rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0.2) 100%);
}
.ul-li {
    margin: 0.625rem 0.755rem 0.625rem 0.755rem;
    position: relative;
}
.a-li {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
}
.a-li::after {
    content: '';
        position: absolute;
        bottom:0.125rem;
        left: 1.25rem;
        width: 0%;
        height: 0.055rem;
        background-color: var(--primary-color);
        transition: all 300ms ease-in-out;
}
.a-li:hover::after {
    content: '';
        position: absolute;
        bottom:0.125rem;
        left: 0;
        width: 100%;
        height: 0.055rem;
        background-color: var(--primary-color);
        transition: all 300ms ease-in-out;
}
/* aqui acaba o main */
/* sobre mim */
.main-sobremim {
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/subtle-prism.png');
    background-size: cover;
    background-position: center center;
    color:var(--primary-color);
    display: flex;
    position: relative;
    justify-content: center ;
}
.text-sections h2 {
    margin-right: 0.1rem;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0.2rem;
    margin-left: 0.4rem;
    text-shadow: 0.1875rem 0.1875rem black;
}
.text-sections p {
    margin-right: 0.1rem;
    margin-left: 0.1rem;
    font-size: 1.35rem;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.4rem;
    border-radius: 1rem;
    max-width: 33.3125rem;
}
.grid-img-righ {
    width: 75rem;
    height: 100%;
    display: grid;
    grid-template-columns: 33.3125rem 1fr;
    z-index: 2;
    position: relative;
    
}
.text-sections {
    margin-top: 3rem; 
    text-align: start;
}
.sombra-2 {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
    z-index:1 ;
    display: flex;
}
.grid-img {
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 33vh 33vh 33vh;
}
.img-grid {
    width: 14.5rem;
    height: 11.37rem;
    margin: 0.625rem;
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
    box-shadow: 0.5rem 0.5rem 1px rgba(0, 0, 0, 0.2);
    border: 0.01rem solid black;  
}
.img-grid:nth-child(1) {
    margin-top: 5rem;
    margin-left: 3rem;
}
.img-grid:nth-child(2) {
    margin-left: 3rem;
}
.img-grid:nth-child(3) {
    margin-top: 5rem;
    margin-left: 2rem;
}
.img-grid:nth-child(5) {
    margin-left: 15rem;
    grid-column: span 2;
}
.img-grid:hover {
    width: 16.5rem;
    height: 13.37rem;
    transition: all 300ms ease-in-out;
}
.grid-img-left {
    width: 75rem;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 32rem;
    z-index: 2;
    position: relative;
}
/* Pizza */
.main-pizza {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url('../img/img2.png');
    background-size: cover;
    background-position: center center;
    color:var(--primary-color);
    display: flex;
    position: relative;
    justify-content: center;
}

/* babka */
.main-babka {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url('../img/27.png');
    background-size: cover;
    background-position: center center;
    color:var(--primary-color);
    display: flex;
    position: relative;
    justify-content: center ;
}
/* cinnamon */
.main-cinnamon {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url('../img/img4.png');
    background-size: cover;
    background-position: center center;
    color:var(--primary-color);
    display: flex;
    position: relative;
    justify-content: center ; 
}
/* recheadão */
.main-recheadão{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url('../img/img3\ \(2\).png');
    background-size: cover; 
    background-position: center center;
    color:var(--primary-color);
    display: flex;
    position: relative;
    justify-content: center ;
}
/* table */
.main-produtos {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    background-image: url('../img/subtle-prism.png');
    background-size: cover;
     background-position: center center;
    align-items: center;
    position: relative;
}
.produtos-grid {
    max-width: 75rem;
    display: grid;
    grid-template-columns: 1fr  1fr;
    z-index: 3;
    position: relative;
    height: 100%;
    justify-content: center;
    align-items:center;
}
.produtos {
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}
table {
color: black;
width: 80%;
height: 7rem;
border-collapse: collapse;
background-color: rgb(255, 255, 255);
border: 0.3rem #000000 solid ;
transition: all 300ms ease-in-out;
}
table:hover {
    color: black;
    width: 100%;
    height: 12rem;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    border: 0.3rem #000000 solid ;
    transition: all 300ms ease-in-out;
}
table thead th {
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}
table caption {
    text-align: left;
    font-style: italic;
    font-size: 0.8rem;
}
table td, table th {
    text-align: left;
    border: 0.01rem solid black;
    padding: 0.1rem; 
}
/* aqui acaba table */
/* wpp */
.wpp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 0.1875rem 0.1875rem black;
    color: white;
}
.wpp a img:hover {
    width: 12rem;
    transition: all 300ms ease-in-out;  
}
.wpp h2 {
    padding: 0.3rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    text-align: center;
}
.wpp a img {
    width: 10rem;
    transition: all 300ms ease-in-out;
}
/* footer */
footer div{
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 3rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
}
footer h2 {
    font-size: 0.6rem;
    color: #7a685a;
}
/* aqui acaba o footer */
.close-menu {
    display: none;
}
/* media queries */
@media (max-width: 1200px) {
    .grid-img-left, .grid-img-righ {
        grid-template-columns: 1fr;
        align-content: center;
    }
.text-up {
    grid-column-start: 1;
    grid-row-start: 1;

}
.img-grid:hover {
    width: 13.5rem;
    height: 11.37rem;
    transition: 0;
}
.grid.img {
    grid-template-columns: 32.5rem;
}
.text-sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
@media (max-width: 625px) {
    .grid-img {
        grid-template-columns: 1fr;
    
    }
    .img-grid:hover {
        width: 14.5rem;
        height: 11.37rem;
        transition: 0;
    }
    .img-grid {
        width: 14.5rem;
        height: 11.37rem;
        margin: 0.625rem;
        border-radius: 3rem;
        transition: none;
       
    .img-grid:nth-child(1) {
        margin-top: 0;
        margin-left: 0;
    }
    .img-grid:nth-child(2) {
        margin-left: 0;
    }
    .img-grid:nth-child(3) {
        margin-top: 0;
        margin-left: 0;
    }
    .img-grid:nth-child(5) {
        margin-left: 0;
        grid-column: 0;
    }
    .img-grid:hover {
        display: none;
    }

}
@media (max-width: 541px) {
    .div-heading {
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .heading {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
    }
    .img {
        height: 29px;
        width: 26px;
    }
    .div-img, .div-img ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .close-menu-label::after {
        content: "☰";
        position: fixed;
        z-index: 5;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        padding: 0.2rem;
        color: #000000;
        cursor: pointer;
        background: rgba(255, 219, 193, 0.726);
    }
/* × */
    .close-menu:checked~.heading {
        display: flex;
    }
    .close-menu:checked~.close-menu-label::after {
        content: "×";
        display: block;
    }
    .instagram {
        margin-top: 1rem;
    
    }
    .div-main {
       
       margin-top: 5vh; 
       
    }
}

@media (max-width: 500px) {
    .produtos-grid {
        grid-template-columns:  1fr;
       
    }

    .grid-img-left, .grid-img-righ {
        align-content: center;
    }
    .grid-img {

        grid-template-columns: 1fr;

        overflow: auto;
    
    }
    .text-sections h2 {
        font-size: 3rem;
    }
   
}

